In [1]:
import os
import shutil
import copy
from tqdm import tqdm

import pandas as pd
import numpy as np

In [2]:
MAIN_DIR = 'D:/DATA_SCIENCE/biometrics/artifacts'

In [3]:
#reading the pickle file
train = pd.read_pickle(os.path.join(MAIN_DIR,'train.pkl'))
display(train.head())

           name gender  corner_out_x  corner_out_y  corner_in_x  corner_in_y
0  C1_S1_I1.txt   Male           219           162          219          369
1  C1_S1_I2.txt   Male           225           179          227          368
2  C1_S1_I3.txt   Male           212           154          224          358
3  C1_S1_I4.txt   Male           237           176          251          401
4  C1_S1_I5.txt   Male           249           183          256          388

In [4]:
# printing the rows
print(f'the number of rows : {train.shape[0]}')

the number of rows : 10199

In [5]:
# fucntion to remove C letter
def remove_alp(row):
    row = row.replace('C','')
    return row

In [6]:
train['person_id'] = train['person_id'].apply(remove_alp)

KeyError: 'person_id'

In [28]:
# checking the values of each classes
train['person_id'].value_counts(ascending = True)

521     1
456    13
453    13
455    13
271    14
       ..
89     30
111    30
9      30
237    30
103    30
Name: person_id, Length: 507, dtype: int64

In [31]:
train['person_id'].value_counts(ascending = True).to_frame().groupby('person_id').size()

person_id
1       1
13      3
14     13
15    311
16      3
27      3
29      7
30    166
dtype: int64

In [33]:
assert train.shape[0] == ( (30*166) + (29*7) + (27*3) + (16*3) + (15*311) + (14*13) + (13*3) + (1*1)), "numbers don't add"