In [1]:
LABELS_DIR = 'D:/DATA_SCIENCE/biometrics/ubiperiocular_updated/labels'

In [2]:
import os
import shutil

import pandas as pd
import numpy as np

import string
from tqdm import tqdm

from natsort import natsorted

In [4]:
# storing the files in files_list
files_list = natsorted(list(os.listdir(LABELS_DIR)))

In [6]:
# iterating through the .txt files and appending in row_list
row_list = []
name_list = []
for file in files_list:
    name_list.append(file)
    opening = open(LABELS_DIR + '/' + file, 'r', encoding="utf8") #encoding type is utf8
    #print(file)
    row_list.append(opening.readlines()[2:28])

In [8]:
#name_list = []
# seperating the gender, and canthus points into different variables
gender_list = []
coutptx_list = []
coutpty_list = []
cinptx_list = []
cinpty_list = []

for file in row_list:
    #print(file[0])
    #name_list.append(file[0])
    gender_list.append(file[4])
    
    coutptx_list.append(file[12])
    coutpty_list.append(file[13])
    
    cinptx_list.append(file[16])
    cinpty_list.append(file[17])

In [9]:
# making a dataframe
dict = {'name' : name_list, 
        'gender' : gender_list, 
        'corner_out_x' : coutptx_list, 
        'corner_out_y' : coutpty_list,
        'corner_in_x' : cinptx_list,
        'corner_in_y' : cinpty_list,
       }

meta_data = pd.DataFrame(dict)
meta_data.head()

           name    gender corner_out_x corner_out_y corner_in_x corner_in_y
0  C1_S1_I1.txt   Male;\n       219;\n       162;\n      219;\n      369;\n
1  C1_S1_I2.txt   Male;\n       225;\n       179;\n      227;\n      368;\n
2  C1_S1_I3.txt   Male;\n       212;\n       154;\n      224;\n      358;\n
3  C1_S1_I4.txt   Male;\n       237;\n       176;\n      251;\n      401;\n
4  C1_S1_I5.txt   Male;\n       249;\n       183;\n      256;\n      388;\n

In [10]:
#checking for null values
meta_data.isna().sum()

name            0
gender          0
corner_out_x    0
corner_out_y    0
corner_in_x     0
corner_in_y     0
dtype: int64

In [11]:
# function to remove ';\n'
def removee(row):
    row = row.replace(';\n', '')
    return row

In [12]:
columns = ['name' , 'gender', 'corner_out_x', 'corner_out_y' , 'corner_in_x' , 'corner_in_y']

In [13]:
# applying the function
for column in columns:
    meta_data[column] = meta_data[column].apply(removee)

In [14]:
meta_data.head()

           name gender corner_out_x corner_out_y corner_in_x corner_in_y
0  C1_S1_I1.txt   Male          219          162         219         369
1  C1_S1_I2.txt   Male          225          179         227         368
2  C1_S1_I3.txt   Male          212          154         224         358
3  C1_S1_I4.txt   Male          237          176         251         401
4  C1_S1_I5.txt   Male          249          183         256         388

In [15]:
meta_data['corner_out_x'] = meta_data['corner_out_x'].astype('int')
meta_data['corner_out_y'] = meta_data['corner_out_y'].astype('int')
meta_data['corner_in_x'] = meta_data['corner_in_x'].astype('int')
meta_data['corner_in_y'] = meta_data['corner_in_y'].astype('int')

In [16]:
meta_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10199 entries, 0 to 10198
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          10199 non-null  object
 1   gender        10199 non-null  object
 2   corner_out_x  10199 non-null  int32
 3   corner_out_y  10199 non-null  int32
 4   corner_in_x   10199 non-null  int32
 5   corner_in_y   10199 non-null  int32
dtypes: int32(4), object(2)
memory usage: 318.8+ KB

In [17]:
assert 10199 == meta_data.shape[0], "lengths don't match, check the processing pipeline"

In [18]:
meta_data.to_pickle('train.pkl')